<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/css/prontuario.css">
  <title>Document</title>
</head>

<body background="assets/imgs/fundo.jpg">
  <div class="container">
      <div class="title">
          <h1>Prontuário Médico</h1>
      </div>
      <div class="row">
          <form action="#" class="form-horizontal">
              <div class="row">
                  <div class="form-group">
                      <label class="col-md-4 control-label" id="labels">Nome: </label>
                      <div class="col-md-6">
                          <input type="text" class="form-control" readonly value="José Augusto França" id="Nome">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group">
                      <label class="col-md-4 control-label" id="labels">CPF: </label>
                      <div class="col-md-6">
                          <input type="text" class="form-control" readonly value="123.456.789-00" id="CPF">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group">
                      <label class="col-md-4 control-label" id="labels">Telefone:</label>
                      <div class="col-md-6">
                          <input type="text" class="form-control" readonly value="(48) 9999-9999" id="Telefone">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group">
                      <label class="col-md-4 control-label" id="labels">Anamnese </label>
                      <div class="col-md-6">
                          <input type="text" class="form-control" readonly value="Anamnese" id="Anamnese">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group">
                      <label class="col-md-4 control-label" id="labels">Diagnósticos </label>
                      <div class="col-md-6">
                          <input type="text" class="form-control" readonly value="H1N1" id="Diagnósticos">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group">
                      <label class="col-md-4 control-label" id="labels">Tratamentos </label>
                      <div class="col-md-6">
                          <input type="text" class="form-control" readonly
                              value="Antiviral, Analgésico e Anti-inflamatórios não esteroides" id="Tratamentos">
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group">
                      <label class="col-md-4 control-label" id="labels">Clique para baixar o exame </label>
                      <div class="col-md-6">
                          <button class="btnSubmit">Baixar</button>
                      </div>
                  </div>
              </div>
          </form>
      </div>
<!-- </body> -->
